<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Index</title>

	<link rel="stylesheet" th:href="@{/css/frappe-gantt.css}" />
	<script th:src="@{/js/frappe-gantt.min.js}"></script>
	<script th:src="@{/js/index.js}"></script>
	<!--テスト用

	<link rel="stylesheet" href="frappe-gantt.css" />
	<script src="frappe-gantt.min.js"></script>
	<script src="testindex.js"></script>
	-->
	<style>
		body {
			font-family: sans-serif;
			background: #ccc;
		}

		.container {
			width: 80%;
			margin: 0 auto;
		}

		/* custom class */
		.gantt .bar-milestone .bar {
			fill: tomato;
		}

		.heading {
			text-align: center;
		}
	</style>
</head>

<body>
	<H1>EBA Corp Project Management System</H1>
	<!--ログアウト-->
	<form class="form-signin" method="post" th:action="@{/logout}">
		<button id="logout-button" class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
	</form>
	<!--ガントチャート-->
	<div class="container">
		<h2 class="heading">Frappe Gantt(ガントチャート)</h2>
		<div id="view_mode_buttons" class="mx-auto mt-3 btn-group" role="group" style="_display: inline">
			<button id="view_mode_d" type="button" class="btn btn-sm btn-light">日</button>
			<button id="view_mode_w" type="button" class="btn btn-sm btn-light">週</button>
			<button id="view_mode_m" type="button" class="btn btn-sm btn-light">月</button>
		</div>
		<!-- Gantt Chart本体-->
		<div class="gantt-target"></div>
		<!--隠しパラメータ-->
		<input type="hidden" id="original_task_list_by_gantt">
		<form method="post" th:action="@{/}">
			<input type="hidden" id="updated_task_list_by_gantt" name="updated_task_list_by_gantt"><br>
			<button id="resetGantt" type="reset" class="btn btn-sm btn-light">リセット</button>
			<button id="updateTasks" type="submit">更新</button>
		</form>
	</div>
	<!--タスクリスト -->
	<div class="container">
		<h2 class="heading">タスクリスト</h2>
		<table>
			<thead>
			<tr>
				<th>id</th>
				<th>タスク名</th>
				<th>進捗</th>
				<th>開始日</th>
				<th>終了日</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="task : ${taskList}">
				<td th:text="${task.id}"></td>
				<td><a th:href="@{'/ticket/' + ${task.id}}" th:text="${task.name}"></a></td>
				<td th:text="${task.progress} + '%'"></td>
				<td th:text="${task.start}"></td>
				<td th:text="${task.end}"></td>
			</tr>
			</tbody>
		</table>
		<a th:href="@{/ticket/new}" id="newtask">新しいタスクを作成</a>
	</div>


	<script type="text/javascript" th:inline="javascript">

		//初期化処理

		let taskListShort = /*[[${ganttTaskList}]]*/ null;

		/*
		taskListShort = [
			{
				"id": "1",
				"start": "2023-06-21",
				"end": "2023-06-23",
				"name": "タスク１名前",
				"progress": 0,
				"dependencies": null
			},
			{
				"id": "2",
				"start": "2023-06-22",
				"end": "2023-06-24",
				"name": "タスク２名前",
				"progress": 0,
				"dependencies": "1"
			},
			{
				"id": "3",
				"start": "2023-06-24",
				"end": "2023-06-28",
				"name": "タスク３名前",
				"progress": 70,
				"dependencies": "1,2"
			},
			{
				"id": "4",
				"start": "2023-06-22",
				"end": "2023-06-23",
				"name": "タスク４名前",
				"progress": 0,
				"dependencies": "3"
			}
		];

		 */
		if (taskListShort !== null && taskListShort !== undefined) {
			document.querySelector('#updated_task_list_by_gantt').value = JSON.stringify(taskListShort);
			document.querySelector('#original_task_list_by_gantt').value = JSON.stringify(taskListShort);

		}

		let gantt_chart = new Gantt(".gantt-target", taskListShort, {
			on_click: (task) => {
				overWrite(task);
			},
			on_date_change: (task, start, end) => {
				//console.log(task, formatDate(start), formatDate(end));
				//console.log(task);
				//console.log("start " + formatDate(start));
				//console.log("task.start " + task.start);
				task.start = formatDate(start);
				task.end = formatDate(end);

				overWrite(task);
			},
			on_progress_change: (task, progress) => {
				console.log(task, progress);
			},
			on_view_change: (mode) => {
				//console.log(mode);
			},
			date_format: 'YYYY-MM-DD',
			view_mode: 'Day',
			language: 'ja-JP'

		});

		let vmd = document.querySelector('#view_mode_d');
		document.querySelector('#view_mode_d').addEventListener('click', function () {
			gantt_chart.change_view_mode('Day')
		}, false);

		let vmw = document.querySelector('#view_mode_w');
		document.querySelector('#view_mode_w').addEventListener('click', function () {
			gantt_chart.change_view_mode('Week')
		}, false);

		let vmm = document.querySelector('#view_mode_m');
		document.querySelector('#view_mode_m').addEventListener('click', function () {
			gantt_chart.change_view_mode('Month')
		}, false);

		let rg = document.querySelector('#resetGantt');
		document.querySelector('#resetGantt').addEventListener('click', function () {
			gantt_chart.refresh(JSON.parse(document.querySelector('#original_task_list_by_gantt').value));
			document.querySelector('#updated_task_list_by_gantt').value = document.querySelector('#original_task_list_by_gantt').value;
		}, false);


	</script>
</body>

</html>