<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/frappe-gantt.css}" />
    <script th:src="@{/js/frappe-gantt.min.js}"></script>
    <style>
		body {
			font-family: sans-serif;
			background: #ccc;
		}
		.container {
			width: 80%;
			margin: 0 auto;
		}
		/* custom class */
		.gantt .bar-milestone .bar {
			fill: tomato;
		}
		.heading {
			text-align: center;
		}
	</style>
</head>
<body>
<H1>EBA Corp Project Management System</H1>
<!--ログアウト-->
<form class="form-signin" method="post" th:action="@{/logout}">
  <button id="logout-button" class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
</form>

<!--タスクリスト -->
<div class="container">
<h2 class="heading">タスクリスト</h2>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>タスク名</th>
            <th>進捗</th>
            <th>開始日</th>
            <th>終了日</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="task : ${taskList}">
            <td th:text="${task.id}"></td>
            <td><a th:href="@{'/ticket/' + ${task.id}}" th:text="${task.name}"></a></td>
            <td th:text="${task.progress} + '%'"></td>
            <td th:text="${task.start}"></td>
            <td th:text="${task.end}"></td>
        </tr>
    </tbody>
</table>
    <a th:href="@{/ticket/new}" id="newtask">新しいタスクを作成</a>
</div>
<!--ガントチャート-->
<div class="container">
    <h2 class="heading">Frappe Gantt(ガントチャート)</h2>
    <div id="view_mode_buttons" class="mx-auto mt-3 btn-group" role="group" style="inline-block; _display: inline;">
        <button id="view_mode_d" type="button" class="btn btn-sm btn-light">Day</button>
        <button id="view_mode_w" type="button" class="btn btn-sm btn-light">Week</button>
        <button id="view_mode_m" type="button" class="btn btn-sm btn-light">Month</button>
    </div>
    <!-- Gantt Chart本体-->
    <div class="gantt-target"></div>
    <button id="resetGantt" type="reset" class="btn btn-sm btn-light">Reset</button>
</div>
<!--<input type="hidden" id="task0start" name="" value="2018-10-01 0:00:00"> -->
<script th:inline="javascript">
    let ganttTaskList = /*[[${ganttTaskList}]]*/ null;
    console.log(ganttTaskList);
    let gantt_chart = new Gantt(".gantt-target", ganttTaskList, {
			on_click: (task) => {
				console.log(task);
			},
			on_date_change: (task, start, end) => {
				console.log(task, start, end);
			},
			on_progress_change: (task, progress) => {
				console.log(task, progress);
			},
			on_view_change: (mode) => {
				console.log(mode);
			},
			date_format: 'YYYY-MM-DD',
			view_mode: 'Day',
			language: 'ja-JP'

		});
		console.log(gantt_chart);

	let vmd = document.querySelector('#view_mode_d');
	vmd.addEventListener('click',function(){
		gantt_chart.change_view_mode('Day')
		//console.log(vmd.textContent);
	},false);

	let vmw = document.querySelector('#view_mode_w');
	vmw.addEventListener('click',function(){
		gantt_chart.change_view_mode('Week')
		console.log(vmw.textContent);
	},false);

	let vmm = document.querySelector('#view_mode_m');
	vmm.addEventListener('click',function(){
		gantt_chart.change_view_mode('Month')
		console.log(vmm.textContent);
	},false);

	let rg = document.querySelector('#resetGantt');
	rg.addEventListener('click',function(){
		gantt_chart.refresh(tasks);
		console.log('reset');
		console.log(tasks);
	},false);
</script>

</body>
</html>