<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{Head::head}"></head>
<!--
https://mdbootstrap.com/docs/standard/extended/login/
-->

<body class="text-center">
    <h1>会員登録 | EBAtec Project Management System</h1>
    <form th:action="@{/register}" method="post">
        <div class="container">
            <div class="row">
                <!-- Left -->
                <div class="col">
                </div>
                <div class="col-6">
                    <!--Message from BE -->
                    <div class="form-outline mb-4">
                        <div th:if="${result != null}">
                            <p th:text="${result}"></p>
                        </div>
                    </div>
                    <!--User name input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="username" name="username" class="form-control" th:value="${username}">
                        <label class="form-label" for="username">User name</label>
                    </div>

                    <!--使用中止Email input 
                    <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control" th:value="${email}">
                        <label class="form-label" for="email">Email address</label>
                    </div>
                    -->
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="password1" name="password1" class="form-control">
                        <label class="form-label" for="password1">Input Password</label>
                    </div>

                    <!-- Password input again-->
                    <div class="form-outline mb-4">
                        <input type="password" id="password2" name="password2" class="form-control">
                        <label class="form-label" for="password2">Input Password again</label>
                        <span id="errormessage"></span>
                    </div>

                    <!-- Submit button -->
                    <!-- <input type="submit" class="btn btn-primary btn-block mb-4" value="Register"></input> -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        <!-- ここに記載 -->
        let password1 = document.querySelector('#password1');
        let password2 = document.querySelector('#password2');
        let errormessage = document.querySelector('#errormessage');

        password2.addEventListener('change',function(){
            if(password1.value != password2.value){
                //document.querySelector('#errormessage').value = "パスワードが一致しておりません";
                console.log("パスワードが一致しておりません");

            }

        },false);
    </script>
    <footer th:replace="~{Footer::Footer}"></footer>


</body>

</html>