<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク詳細</title>
</head>
<body>
<h2 class="heading">タスク詳細</h2>
<div th:if="${message != null}" th:text="${message}"></div>
<!--新規タスク-->
<form method="post" th:action="@{/newtask}" th:object="${taskForm}" th:if="${taskForm.id == null}">
    <label for="task_id">タスクid</label>
    <div id="task_id_new">新規タスク(未登録)</div>

    <label for="task_name">タスク名</label>
    <input type="text" id="task_name" name="name" required th:value="${taskForm.name}" maxlength="255"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="${taskForm.name}" style="color:red;"></div>

    <label for="task_detail">タスク内容</label>
    <textarea id="task_detail" name="detail" th:text="${taskForm.detail}" maxlength="65535" title="65535文字以内に納めてください"></textarea>
    <div th:if="${#fields.hasErrors('detail')}" th:errors="${taskForm.detail}" style="color:red;"></div>

    <label for="task_progress">進捗</label>
    <input type="number" id="task_progress" name="progress" th:value="${taskForm.progress == null}? '0':${taskForm.progress}" min="0" max="100" step="10"required><br>
    <div th:if="${#fields.hasErrors('progress')}" th:errors="${taskForm.progress}" style="color:red;"></div>

    <!--Dependancies（後に回す）-->
    <!--
	    <label for="task_dependancies">先行タスク</label>
    		<form method="POST" enctype="multipart/form-data" th:action="@{/fileupload}">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file"  id="task_dependancies" name="task_dependancies" th:value="${taskForm.dependancies}"/></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
    <input type="number" id="task_dependancies" name="task_dependancies" th:value="${taskForm.dependancies}"><br>
-->
    <label for="task_start">開始日</label>
    <input type="date" id="task_start" name="start" th:value="${taskForm.start}" required><br>
    <div th:if="${#fields.hasErrors('start')}" th:errors="${taskForm.start}" style="color:red;"></div>

    <label for="task_end">終了日</label>
    <input type="date" id="task_end" name="end" th:value="${taskForm.end}" required><br>
    <div th:if="${#fields.hasErrors('end')}" th:errors="${taskForm.end}" style="color:red;"></div>
    <!-- -->
    <button type="submit">登録</button>
    <a href="/">戻る</a>
</form>
<!--既存タスク-->
<form method="post" th:action="@{'/ticket/' + ${taskForm.id}}" th:object="${taskForm}" th:if="${taskForm.id != null}">
    <label for="task_id">タスクid</label>
    <div id="task_id" th:if="${taskForm.id != null}" th:text="${taskForm.id}"></div>
    <input type="hidden" name="id" th:value="${taskForm.id}">

    <label for="task_name">タスク名</label>
    <input type="text" id="task_name" name="name" required th:value="${taskForm.name}" maxlength="255"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="${taskForm.name}" style="color:red;"></div>

    <label for="task_detail">タスク内容</label>
    <textarea id="task_detail" name="detail" th:text="${taskForm.detail}" maxlength="65535" title="65535文字以内に納めてください"></textarea>
    <div th:if="${#fields.hasErrors('detail')}" th:errors="${taskForm.detail}" style="color:red;"></div>

    <label for="task_progress">進捗</label>
    <input type="number" id="task_progress" name="progress" th:value="${taskForm.progress == null}? '0':${taskForm.progress}" min="0" max="100" step="10"required><br>
    <div th:if="${#fields.hasErrors('progress')}" th:errors="${taskForm.progress}" style="color:red;"></div>

    <!--
    th:object="${taskForm}"
     th:value="${taskForm.fileupload}"
     th:href="${file.filepath}/${file.filename}"
    -->
    <!--Dependancies（後に回す）-->

    <!--

        <label for="task_dependancies">先行タスク</label>
        <form method="POST" enctype="multipart/form-data" th:action="@{/fileupload}">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file"  id="task_dependancies" name="task_dependancies" th:value="${taskForm.dependancies}"/></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
<input type="number" id="task_dependancies" name="task_dependancies" th:value="${taskForm.dependancies}"><br>
-->
    <label for="task_start">開始日</label>
    <input type="date" id="task_start" name="start" th:value="${taskForm.start}" required><br>
    <div th:if="${#fields.hasErrors('start')}" th:errors="${taskForm.start}" style="color:red;"></div>

    <label for="task_end">終了日</label>
    <input type="date" id="task_end" name="end" th:value="${taskForm.end}" required><br>
    <div th:if="${#fields.hasErrors('end')}" th:errors="${taskForm.end}" style="color:red;"></div>
    <!-- -->
    <button type="submit">更新</button>
    <a href="/">戻る</a>
</form>
<!--添付ファイルアップロード -->
<form method="POST" enctype="multipart/form-data" th:action="@{'/file/upload/' + ${taskForm.id}}" th:object="${attachFileEntity}" th:if="${taskForm.id != null}">
    <table>
        <tr>
            <td>File to upload:</td>
            <td><input type="file" id="attachFileEntity" name="attachFileEntity"/></td>
            <td><input type="submit" value="アップロード" /></td>
        </tr>
    </table>
</form>
<!--添付ファイルリスト -->
<table th:if="${attachFileEntity != null}" th:object="${attachFileEntity}">
    <thead>
    <tr>
        <th>添付ファイル</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${attachFileEntity}">
        <td><a th:href="@{'/file/'+ ${taskForm.id} + '/'+ ${file.filename}}"　th:text="${file.filename}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>